<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codingdojoangola"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <!-- ********************************** APPLICATION **************************************** -->
    <application
        android:name=".app.CDA"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cda_logo"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">

        <!-- ******************** ACTIVITY LAUNCH ******************** -->
        <activity
            android:name=".ui.launch.SplashActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ******************** ACTIVITY LOGIN ******************** -->
        <activity
            android:name=".ui.launch.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/login"
            android:screenOrientation="portrait"/>


        <!-- ******************** ACTIVITY REGISTER ******************** -->
        <activity
            android:name=".ui.launch.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/login"
            android:screenOrientation="portrait"/>


        <!-- ******************* ACTIVITY MAIN CDA ******************* -->
        <activity android:name=".ui.main.MainActivity"
            android:label="@string/project"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>

        <!-- ******************* ACTIVITY MAIN CDA ******************* -->
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.main.MainActivity">
        </activity>

        <activity android:name=".ui.members.MemberDetailsActivity"
            android:parentActivityName=".ui.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity" />
        </activity>

        <!-- ************************************************************************************ -->


    </application>
    <!-- *************************************************************************************** -->
</manifest>